<div class="navbar-nav ml-2">
    <input type="text" #searchInput (keyup.enter)="searchBooks(searchInput.value)" class="form-control"
        placeholder="Search books">
    <button type="submit" (click)="searchBooks(searchInput.value)" class="btn btn-primary ml-2">Search</button>

    <!-- <button type="submit" (click)="callBookCreateForm()" class="btn btn-primary ml-2">Create</button> -->

    <button type="submit" (click)="callCreateUploadFilesForm()" class="btn btn-primary ml-2">合同</button>

    <button type="submit" (click)="callStatementForm()" class="btn btn-primary ml-2">账单</button>

    <button type="submit" (click)="callInvoiceForm()" class="btn btn-primary ml-2">发票</button>
</div>
