<div *ngIf="currentFile" class="progress">
    <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" attr.aria-valuenow="{{progress.percentage}}" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}">
        {{progress.percentage}}%</div>
</div>

<div class="col-sm-3">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="请选择文件" />
        <span class="input-group-btn">
            <label for="forexIO_file" class="form-control btn btn-success">上传</label>
            <input id="forexIO_file" type="file" (change)="onFileChange($event)" style="display: none" />
        </span>
    </div>
    <!-- /input-group -->
</div>

<div class="container" style="width:100%">
  <app-contract></app-contract>
</div>


<label class="btn btn-default">
  <div *ngIf="willDownload">
    <a id="download"> Download JSON File </a>

  </div>
  <div id="output"></div>
</label>

<br /><br />
<button class="btn btn-primary btn-lg active" [disabled]="!selectedFiles" (click)="uploadFile()">Upload File and save to server</button>


<div class="container" style="width:400px">
    <div style="color: green; margin-bottom: 20px">
        <h1>File Upload Demo</h1>
    </div>

    <br />
    <app-list-upload-file></app-list-upload-file>
</div>
