<p>file-review-grid works!</p>

<div *ngIf="currentFile" class="progress">
    <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
      aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}">
      {{progress.percentage}}%</div>
  </div>
  <br /><br />

  <div style="margin-bottom: 5px; min-height: 30px;">
    <button (click)="onRowDataA()">Row Data A</button>
    <button (click)="onRowDataB()">Row Data B</button>
    <input type="button" value="遍历行" onclick="getSelectedRows()" />
  </div>


  <ag-grid-angular
      style="width: 800px; height: 600px; margin: auto"
      class="ag-theme-alpine"
      [rowData]="rowData"
      [columnDefs]="columnDefs"
      rowSelection="multiple"
      (gridReady)="onGridReady($event)"
      (rowSelected)="onRowSelected($event)"
      >
  </ag-grid-angular>

  <!-- <ag-grid-angular
        style="width: 100%; height: 100%;"
        [rowData]="rowData"
        class="ag-theme-alpine"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        [defaultColGroupDef]="defaultColGroupDef"



        (gridReady)="onGridReady($event)"
  ></ag-grid-angular> -->
